## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
gek = 54
print(gek)

54

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(gek))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Gabriel"

5) Crear una variable que contenga un número complejo

In [5]:
complejo = 10 + 4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
numero_Pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
cadena = 'True'
booleano = True
cadena == booleano
# No es lo mismo, son dos tipos de datos diferentes

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [11]:
print(type(cadena))
print(type(booleano))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
sumar = 10 + 2.75

:

11) Realizar una operación de suma de números complejos

In [18]:
suma_complejo = (2+5j) + (8+3j)
print(suma_complejo)

(10+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [19]:
sumara = 10.33 + (4+3j)
print(sumara)

(14.33+3j)

13) Realizar una operación de multiplicación

In [20]:
multi = 5 * 7 
print(multi)

35

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
exponente = 2 ** 8
print(exponente)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
cociente = 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [24]:
entera = 27 // 4
print(entera)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [25]:
resto = 27 % 4
print(resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
recalculo = 4 * 6 + 3
print(recalculo)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [28]:
a = 'cadena1'
b = 'cadena2'
suma_cadenas = a + ' ' + b
print(suma_cadenas)

cadena1 cadena2

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [30]:
a = '2'
b = 2
print(a == b)
# Son dos tipos de datos diferentes

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [31]:
print (int(a)==b)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [7]:
a = float('3,8')
# La coma dentro del string, no representa a un punto decimal, por lo que no puede convertir la expresión a flotante.

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [8]:
var = 3
var -= 1
print(var)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [9]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string